// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;
$curvalue-color:		#fff;
$setvalue-color: 	#cc0000;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-growosval {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .curvalue {
    color: $curvalue-color;
    margin: 0;
    padding: 0;
    font-size: 25px;
  }
  
  .setvalue {
    color: $setvalue-color;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
  
  h1{
    size:1sp;
  }
  
  h2{
    size:2sp;
  }
  
  h3{
    size:1sp;
  }


}
