// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$curvalue-color:		#fff;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-growosrel {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin: 0;
    padding: 0;
  }

  .curvalue {
    color: $curvalue-color;
    margin: 0;
    padding: 0;
    font-size: 45px;
  }
  
  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
  
  

}
