<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [230, 200]
   Dashing.numColumns = 4
 });
 </script>
 
<% content_for :title do %>GrowOs Dash<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo2.png" style="background-color:#f26522"></div>
    </li>
  
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="tmp" data-view="Growosval" data-title="Temperature" style="background-color:#f6ff97;title-color:698461;curvalue-color:698461"></div> 
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="hum" data-view="Growosval" data-title="Humidity" style="background-color:#bce27f;"></div> 
    </li>
    
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="ppm" data-view="Growosval" data-title="CO2 PPM" style="background-color:#698461;"></div> 
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="lights" data-view="Growosrel" data-title="Lights" style="background-color:#96b566;"></div> 
    </li>
    
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="fan" data-view="Growosrel" data-title="Fan" style="background-color:#c3c3c3;"></div> 
    </li>
    
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="dehum" data-view="Growosrel" data-title="Dehumidifier" style="background-color:#668e39;"></div> 
    </li>
    
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="valve" data-view="Growosrel" data-title="CO2 Valve" style="background-color:#7c7c7c ;"></div> 
    </li>
    
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="d1" data-view="Graph" data-title="Diagram 1" style="background-color:#f6ff97 ;"></div> 
    </li>
    
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
       <div data-id="d2" data-view="Graph" data-title="Diagram 2" style="background-color:#698461;"></div> 
    </li>
    
  </ul>
</div>
